PUID=
PGID=
DNS_SERVER=
HOMEPAGE_ALLOWED_HOSTS=

# URLS
HOMEPAGE_VAR_OPENWRT_URL=
HOMEPAGE_VAR_PIHOLE_URL=
HOMEPAGE_VAR_N8N_URL=
HOMEPAGE_VAR_DOCKGE_URL=
HOMEPAGE_VAR_GO2RTC_URL=
HOMEPAGE_VAR_BENTOPDF_URL=
HOMEPAGE_VAR_ADMINER_URL=
HOMEPAGE_VAR_NPM_URL=
HOMEPAGE_VAR_PROXMOX_URL=

# PASSWORD
HOMEPAGE_VAR_ROOT_PASSWORD=

# PROXMOX
HOMEPAGE_VAR_PROXMOX_TOKEN=
HOMEPAGE_VAR_PROXMOX_SECRET=
HOMEPAGE_VAR_PROXMOX_NODE=
HOMEPAGE_VAR_PROXMOX_PIHOLE_VMID=
HOMEPAGE_VAR_PROXMOX_OPENWRT_VMID=
HOMEPAGE_VAR_PROXMOX_TAILSCALE_VMID=
HOMEPAGE_VAR_PROXMOX_DOCKGE_VMID=

# NPM
HOMEPAGE_VAR_NPM_USERNAME=
HOMEPAGE_VAR_NPM_PASSWORD=

# TAILSCALE
HOMEPAGE_VAR_TAILSCALE_DEVICEID=
HOMEPAGE_VAR_TAILSCALE_ACCESS_TOKEN=

# CAMERAS
HOMEPAGE_VAR_CAMERA_SRC1=
HOMEPAGE_VAR_CAMERA_SRC2=
HOMEPAGE_VAR_CAMERA_SRC3=